@import url(./basic-styles.css);

/* lesson styles */

.container {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(3, 150px);
    height: 500px;
    border: 10px solid black;
    /* justify-items: center; */
    /* align-items: start; */
    /* justify-content: start; */
    /* align-content: end; */

}

.item-4 {
    justify-self: stretch;
    align-self: stretch;
}